.btn-toinstlist .icon-toinstlist {
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    background: url(/static/img/toinstlist.png) center 1px no-repeat;
}

.btn-toinstlist {
    border: 1px solid #BBB;
    color: #666;
    text-shadow: none;
    vertical-align: middle;
}

.btn {
    border-radius: 0;
}

.btn.btn-primary.disabled,
.btn.btn-primary[disabled] {
    text-shadow: none;
    filter: none;
    cursor: default;
    opacity: 1;
    color: #fff !important;
    border: 1px solid #ccc !important;
    background-color: #ccc !important;
}

.btn {
    font-size: 12px;
    border-radius: 0;
    padding: 8px 16px;
    height: 32px;
    line-height: 14px;
}

.btn-primary {
    color: #fff;
    border: 1px solid #09c;
    background-color: #09c;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #fff;
    border: 1px solid #28B5D6;
    background-color: #28B5D6;
}

.form-inline .form-group {
    margin: 4px 8px 4px 0;
}

.btn-xs {
    font-size: 12px;
    padding: 2px 8px;
    height: 20px;
    line-height: 14px;
}

.btn-blue {
    border: 1px solid #409eff;
    padding: 4px 16px;
    color: #fff;
    background: #39f;
}

.btn-red {
    color: #fff;
    background: #fb6367;
    border-color: #ec3d43;
}

.btn-red.active,
.btn-red:focus,
.btn-red:hover {
    color: #fff;
    text-decoration: none;
    background: #f34a4f;
    border-color: #adadad;
}

.btn-blue.active,
.btn-blue:focus,
.btn-blue:hover {
    color: #fff;
    text-decoration: none;
    background: #0f85fb;
    border-color: #adadad;
}
