.aside {
    position: relative;
    width: 200px;
    background-color: #f0f6f6;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
}

.aside-menu {
    position: relative;
    height: 100%;
}

.aside .aside-menu h2 {
    font-size: 19px;
    font-weight: bold;
    line-height: 50px;
    display: block;
    padding: 0 20px;
    color: #4093ff;
    height: 53px;
}

.aside .aside-menu h2 > span {
    display: inline-block;
    vertical-align: middle;
}

.aside-menu .line-mod {
    width: 142px;
    height: 0;
    margin: 0 auto 15px;
    border: none;
    border-top: 1px solid #cadbe6;
    border-bottom: 1px solid #f8fbfb;
}

.aside-menu-dl {
    font-size: 14px;
    line-height: 35px;
    overflow: auto;
    position: absolute;
    width: 100%;
    top: 112px;
    bottom: 0;
    padding-top: 15px;
}

.aside-menu-dl dd {
    position: relative;
    width: 100%;
}

.aside-menu a.act, .aside-menu a:active {
    color: #3399ff;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

.aside-menu-dl a:hover {
    color: #4093ff;
    text-decoration: none;
}

.aside-menu-dl .aside-menu-v2:hover {
    background-color: rgb(191, 223, 255);
    color: #3399ff;
}

.aside-menu-v2.aside-menu-v2-toggle.open {
    color: #3399ff;
}

.aside-menu a {
    color: #586376;
}

.aside-menu a {
    color: #586376;
}

.act {
    /*background-color: #f0f6f6;*/
}

.aside-menu a span {
    display: inline-block;
    vertical-align: middle;
}

.aside-menu-v2 {
    line-height: 36px;
    display: block;
}

.aside-menu-v2 span {
    margin-left: 25px;
}

.aside-menu-v2.aside-menu-v2-toggle.open + .aside-menu-sub {
    display: block;
}

.aside-menu-v2.aside-menu-v2-toggle + .aside-menu-sub {
    display: none;
}

.aside-menu-v2.act {
    background-color: rgb(191, 223, 255);
}

.aside-menu-v2.open {
    background-color: rgb(191, 223, 255);
}

.aside-menu-dl .ico-dot {
    margin: 0 3px 0 49px;
    vertical-align: middle;
}

.aside-menu-v2, .aside-menu-v3 {
    line-height: 36px;
    display: block;
    position: relative;
}

.aside-menu-v2 .white-down-icon {
    position: absolute;
    right: 24px;
    top: 15px;
    overflow: hidden;
}

.white-down-icon {
    width: 11px;
    height: 6px;
    background-image: url(/static/img/bee.png);
    background-position: -125px -138px;
}

.btn-fold-menu {
    line-height: 100;
    position: absolute;
    top: 9px;
    right: -1px;
    overflow: hidden;
    width: 16px;
    height: 36px;
    border: 1px solid #c7e0ef;
    border-right: none;
    border-radius: 3px 0 0 3px;
    background: url(/static/img/header-menu.png) -72px -40px no-repeat #f7fdfd;
    z-index: 100;
}

.btn-fold-menu.retract {
    right: -17px;
    border: 1px solid #c7e0ef;
    border-left: none;
    border-radius: 0 3px 3px 0;
    background: url(/static/img/header-menu.png) -87px -40px no-repeat #f0f6f6;
}

/*aside*/
.aside-head {
    padding: 15px 0 52px 0;
    text-align: center;
    box-sizing: border-box;
    background-color: #f0f6f6;
    border-bottom: 1px solid #f0f2f5;
}

.aside-head-logo {
    height: 60px;
}

.aside-head-logo .aside-head-logo-ficon {
    font-size: 60px;
    line-height: 60px;
    color: #666;
    vertical-align: middle;
}

.aside-head-logo .aside-head-title {
    font-size: 24px;
    line-height: 1;
    margin: 7px 40px 0;
    word-wrap: break-word;
    color: #666;
    font-weight: 400;
}

/* add left border */
.aside-menu-v2.act:after,
.aside-menu-v3.act span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background: #3399ff;
}

@keyframes ad_width {
    from {
        width: 0
    }

    to {
        width: 165px
    }
}

.aside-menu-v3:hover:after {
    height: 2px;
    animation: ad_width .5s linear forwards;
    background: #1AAB8A;
}

.aside-menu-v3:hover :after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background: #1AAB8A;
}

.aside-menu-v3:hover:after {
    content: ' ';
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    top: calc(100% - 2px);
    display: block;
    width: 165px;
    height: 2px;
    transform: translate(-50%);
}

.aside-menu-dl .fa {
    color: #999999;
    padding-right: 5px;
}

.aside-menu-sub.aside-menu-sub-disable {
    background: #ffffff;
}