.header-nav {
    padding: 0 0 0 179px;
    background-color: #373d41;
}

.header-nav h1 {
    font-size: 14px;
    line-height: 36px;
    position: relative;
    float: left;
    height: 50px;
    margin-left: -179px;
    color: #f2f3f4;
}

.header-nav h1 .logo {
    text-decoration: none;
    position: absolute;
    top: 7px;
    color: #fff;
    left: 22px;
    overflow: hidden;
    width: 115px;
    font-size: 19px;
    height: 32px;
}

.header-panel {
    height: 50px;
    position: relative;
    z-index: 165;
    margin-right: 1px;
}

.header-menu.panel-menu {
    float: left;
}

.header-menu {
    font-size: 14px;
}

.header-menu > li {
    position: relative;
    float: left;
    margin-right: -4px;
    transition: background-color .3s;
    background: url(/static/img/line.png) right center no-repeat;
}

.header-menu > li.cur,
.header-menu > li.cur:hover,
.header-menu > li:hover {
    cursor: pointer;
    background: #242c37;
}

.header-menu > li.cur:hover > a,
.header-menu > li.cur > a,
.header-menu > li:hover > a {
    color: #3d91ff;
    text-decoration: none;
    font-weight: 700;
}

.header-menu > li a {
    display: block;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
}

.header .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #242c37;
    border-color: #337ab7;
}

.header .nav > li > a:focus, .nav > li > a:hover {
    color: #57a5ff;
    text-decoration: none;
    background-color: #242c37;
}

.header .nav > li > a {
    color: #fff;
}