body > .container-fluid-base {
    margin: 0;
    padding: 0;
}

.container-fluid-base {
    transform: none;
    transition: none;
    height: auto;
}

.container-fluid-base {
    transform: none !important;
}

.container-fluid-base {
    position: absolute;
    left: -201px;
    top: 50px;
    right: 0;
    bottom: 0;
    transition: left .3s;
    transform: translate3d(0, 0, 0);
    background: #fff;
}


.main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 201px;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}
