{% extends "bootstrap/base.html" %}

{% block title %}Flask-tc-ui{% endblock %}

{% block head %}

    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {% assets "common_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

{% endblock %}


{% block navbar %}
    <div class="header">
        <div class="header-nav">
            <h1>
                <a href="/" class="logo"><i class="fa fa-skyatlas"></i> Flask-TC</a>
            </h1>
            <div class="header-panel">
                {% if current_user.is_authenticated %}
                    <ul class="header-menu panel-menu">
                        <li class="{% block main %}{% endblock %}">
                            <a href="{{ url_for('main.index') }}"><i class="glyphicon glyphicon-th-list"></i> 表格</a>
                        </li>

                        <li class="">
                            <a href="#"><i class="glyphicon glyphicon-file"></i> 表单</a>
                        </li>

                        <li class="">
                            <a href="#"><i class="glyphicon glyphicon-asterisk"></i> 其他</a>
                        </li>
                    </ul>
                {% endif %}


                <ul class="nav navbar-nav navbar-right pull-right" style="margin: 0;">
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown">
                                {% if current_user.is_authenticated %}
                                    <i class="glyphicon glyphicon-user"></i>&nbsp;{{ current_user.username }}
                                {% endif %} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">账号信息</a></li>
                                <li><a href="#">修改密码</a></li>
                                <li><a href="{{ url_for('auth.logout') }}">注销</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid-base" style="left: 0">
        {% block base_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}

    {{ super() }}
    {{ moment.include_moment('2.10.3', '/static/vendor/moment/moment-with-locales.min.js') }}
    {% assets "common_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script src="{{ url_for("static", filename="js/modal.js") }}"></script>
{% endblock %}


