{% extends "base.html" %}
{% from 'macro_html.html' import aside_dd_html, aside_dd_ul_html,aside_title %}

{% block main %}cur{% endblock %}
{% set active_page = active_page|default('index') %}
{% set menuv2_page_open = menuv2_page_open|default('close') %}


{% block page_content %}
    <div class="aside">
        <div class="aside-menu">
            {{ aside_title('表格') }}
            <dl class="aside-menu-dl">

                {% set menu1 = [
                    ('main.index', '表格-01', True if active_page == 'index')
                ] %}

                {{ aside_dd_ul_html('表格展示', menu1, True if menuv2_page_open == 'open') }}
                {{ aside_dd_html('菜单管理', 'main.menu_list', True if active_page == 'menu') }}

            </dl>
        </div>
        <a href="javascript:void(0)" class="btn-fold-menu" title="收起">收起</a>
    </div>
    <div class="main">
        <div class="console-container">
            {% block main_content %}{% endblock %}
        </div>
    </div>
{% endblock %}