body {
    /*font-size: 12px;*/
    padding: 0;
    margin: 0;
    line-height: 1;
    font: 12px Helvetica Neue, Helvetica, PingFang SC, \5FAE\8F6F\96C5\9ED1, Tahoma, Arial, sans-serif;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}

body, button, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, textarea, ul {
    margin: 0;
    padding: 0;
}

body .toast-top-right {
    top: 50px;
    right: 0;
}

li {
    list-style: none;
}

/* body end*/

.margin-top-20 {
    margin-top: 20px;
}

.console-container {
    padding: 0 20px;
}

console-title h4 {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}

.console-title .btn-toinstlist {
    margin-top: 6px;

}

.console-title h5 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.console-title h1,
.console-title h2,
.console-title h3,
.console-title h4,
.console-title h5,
.console-title h6 {
    display: inline-block;
    text-indent: 8px;
    border-left: 2px solid #3399ff;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 8px;
    vertical-align: top;
    font-weight: 700;
    color: #555;
}

.console-title {
    padding: 16px 0;
    min-height: 48px;
}

.console-title-border {
    border-bottom: 1px solid #DDD;
}

.console-box-border {
    border: 1px solid #E1E6EB;
}

.bline {
    border-bottom: 1px solid #eee;
}

.top-line {
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.bline-dotted {
    border-bottom: 1px dotted #000;
}