body {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 12px;
}

body, button, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, textarea, ul {
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: PingFangSC-Light, 'helvetica neue', 'hiragino sans gb', tahoma, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
}

body .toast-top-right {
    top: 50px;
    right: 0;
}

li {
    list-style: none;
}

/* body end*/

.margin-top-20 {
    margin-top: 20px;
}

.text-danger {
    color: #F00 !important;
}

/* a */

a {
    cursor: pointer;
}

a, a:hover, a:focus, a:active {
    color: #3399ff;
}

.console-title h5 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.console-title h1,
.console-title h2,
.console-title h3,
.console-title h4,
.console-title h5,
.console-title h6 {
    display: inline-block;
    text-indent: 8px;
    border-left: 2px solid #3399ff;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 8px;
    vertical-align: top;
    font-weight: 700;
    color: #555;
}

.bline {
    border-bottom: 1px solid #eee;
}

.console-title {
    padding: 16px 0;
    min-height: 48px;
}

label {
    font-weight: normal;
}

label.control-label {
    font-weight: normal;
    font-size: 12px;
    color: #666;
}

.top-line {
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.bline-dotted {
    border-bottom: 1px dotted #000;
}

.text-explode {
    color: #CCC !important;
    font-weight: normal !important;
    margin: 0 4px !important;
}