body, button, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, textarea, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/*
    top nav
*/
.topnav {
    background-color: #373d41;
}

.topnav h1 {
    margin: 0;
    font-size: 14px;
    line-height: 36px;
    position: relative;
    float: left;
    height: 50px;
    color: #f2f3f4;
}

.topnav h1 .logo {
    text-decoration: none;
    position: absolute;
    top: 7px;
    color: #fff;
    left: 25px;
    overflow: hidden;
    width: 115px;
    font-size: 19px;
    height: 32px;
}

.top-panel {
    height: 50px;
    position: relative;
    z-index: 165;
    margin-right: 1px;
}

.header .nav .open > a,
.header .nav .open > a:focus,
.header .nav .open > a:hover,
.header .nav > li > a:hover,
.header .nav > li > a:focus {
    background-color: #242c37;
    color: #57a5ff;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    /*background-color: inherit;*/
}

.nav > li > a {
    color: #fff;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    color: #333333;
    text-decoration: none;
    background-color: #F9F9F9;
    outline: 0;
    font-size: 12px;
}

.dropdown-menu > li > a {
    font-size: 12px;
}

/*
    botton menu
*/
.btn-fold-menu {
    line-height: 100;
    position: absolute;
    top: 10px;
    right: -1px;
    overflow: hidden;
    width: 16px;
    height: 36px;
    border: 1px solid #c7e0ef;
    border-right: none;
    border-radius: 3px 0 0 3px;
    background: url(/static/img/top-menu.png) -72px -40px no-repeat #fff;
    z-index: 100;
}

.btn-fold-menu.retract {
    right: -17px;
    border: 1px solid #c7e0ef;
    border-left: none;
    border-radius: 0 3px 3px 0;
    background: url(/static/img/top-menu.png) -87px -40px no-repeat #fff;
}

.container-fluid {
    position: absolute;
    left: -201px;
    top: 50px;
    right: 0;
    bottom: 0;
    transition: left .3s;
    /*transform: translate3d(0, 0, 0);*/
    background: #fff;
}

/*
    aside
*/
.aside {
    position: absolute;
    width: 182px;
    background-color: #f7f8f8;
    /*border-right: 1px solid #f7f8f8;*/
    display: inline-block;
    height: 100%;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
}

.aside-panel-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 14px;
}

.aside-head {
    padding: 30px 0 65px 0;
    text-align: center;
    box-sizing: border-box;
    background-color: #D9DEE4;
}

.aside-head-logo {
    height: 60px;
}

.aside-head-logo .aside-head-logo-ficon {
    font-size: 60px;
    line-height: 60px;
    color: #666;
    vertical-align: middle;
}

.aside-head-logo .aside-head-title {
    font-size: 20px;
    line-height: 1;
    margin: 10px 40px 0;
    word-wrap: break-word;
    color: #666;
    font-weight: 400;
}

.aside-menu-level1 {
    padding: 0;
    margin: 0;
    list-style: none;
    vertical-align: top;
    outline: none;
    background-color: #f7f8f8;
    font-size: 14px;
}

.aside-menu-level1-item {
    position: relative;
    cursor: pointer;
    display: block;
    line-height: 22px;
    font-size: 14px;
    color: #666;
    box-sizing: border-box;
}

.aside-menu-level1-item:hover {
    background-color: rgb(191, 223, 255);
    color: #3399ff;
}

/*.aside-menu-level1-item:hover,*/
/*.aside-menu-level2:hover {*/
    /*background-color: #e6f0ff;*/
    /*color: #3399ff;*/
/*}*/

.aside-menu-level1-state-icon {
    position: absolute;
    top: calc(50% - 11px);
    right: 10px;
    font-size: 16px;
}

.aside-menu-level1-label {
    padding: 9px 10px 9px 30px;
}

.aside-menu-level2 {
    position: relative;
    display: block;
    line-height: 22px;
    padding: 9px 10px 9px 55px;
    color: #666;
    font-size: 14px;
    /*background-color: #f7f8f8;*/
    background-color: #ffffff;
    cursor: pointer;
    box-sizing: border-box;
}

.aside-menu-level1-item.aside-menu-level1-active-item,
.aside-menu-level2.aside-menu-level2-active {
    width: calc(100% + 1px);
    color: #3399ff;
    /*background-color: #fff !important;*/
}

.aside-menu-level1-active-item:after,
.aside-menu-level2-active:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background: #3399ff;
}

.aside-menu-level2.aside-menu-level-active:after {
    background-color: #3399ff;
}

/*.aside-menu-level2:after {*/
/*position: absolute;*/
/*left: 50px;*/
/*top: calc(50% - 2px);*/
/*content: "";*/
/*display: block;*/
/*width: 3px;*/
/*height: 3px;*/
/*background-color: #999;*/
/*border-radius: 50%;*/
/*}*/

.aside-panel-container a {
    text-decoration: none;
}

.aside-menu-level1.open ul {
    display: block !important;
    /*transition: all 2s linear;*/
}

.aside-menu-level2-ul {
    display: none;
}

.aside-menu-level2-ul.open {
    display: block;
}

.aside-menu-level2:hover :after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background: #1AAB8A;
}

.aside-menu-level2:hover:after {
    content: ' ';
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    top: calc(100% - 2px);
    display: block;
    width: 165px;
    height: 1px;
    transform: translate(-50%);
}

.aside-menu-level2:hover:after {
    height: 2px;
    animation: ad_width .5s linear forwards;
    background: #1AAB8A;
}

@keyframes ad_width {
    from {
        width: 0
    }

    to {
        width: 165px
    }
}

/*
    main
*/
.main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 183px;
    /*background-color: #F4F4F4;*/
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
}

.aside-menu-level1 .fa {
    color: #999999;
    padding-right: 5px
}

/*.aside-menu-level1.aside-menu-level2-active .fa,*/
/*.aside-menu-level1 .fa:active {*/
/*color: #3399ff;*/
/*}*/