/*
** top menu 一级菜单样式
**
*/

.topnav {
    padding: 0 0 0 179px;
    background-color: #373d41;
}

.topnav h1 {
    font-size: 14px;
    line-height: 36px;
    position: relative;
    float: left;
    height: 50px;
    margin-left: -179px;
    color: #f2f3f4;
}

.topnav h1 .logo {
    text-decoration: none;
    position: absolute;
    top: 7px;
    color: #fff;
    left: 22px;
    overflow: hidden;
    width: 115px;
    font-size: 19px;
    height: 32px;
}

.top-panel {
    height: 50px;
    position: relative;
    z-index: 165;
    margin-right: 1px;
}

.top-menu.pandect-menu {
    float: left;
}

.top-menu {
    font-size: 14px;
}

.top-menu > li {
    position: relative;
    float: left;
    margin-right: -4px;
    transition: background-color .3s;
    background: url(/static/img/line.png) right center no-repeat;
}

.top-menu > li.cur,
.top-menu > li.cur:hover,
.top-menu > li:hover {
    cursor: pointer;
    background: #242c37;
}

.top-menu > li.cur:hover > a,
.top-menu > li.cur > a,
.top-menu > li:hover > a {
    color: #57a5ff;
    text-decoration: none;
    font-weight: 700;
}

.custom-menu {
    float: left;
    overflow: hidden;
    height: 50px;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 12px;
}

.top-menu.custom-menu li {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.top-menu > li a {
    display: block;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
}

.top-menu.user-menu {
    float: right;
}

.header .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #242c37;
    border-color: #337ab7;
}

.header .nav > li > a:focus, .nav > li > a:hover {
    color: #57a5ff;
    text-decoration: none;
    background-color: #242c37;
}

.header .nav > li > a {
    color: #fff;
}

body > .container-fluid-base {
    margin: 0;
    padding: 0;
}

.container-fluid-base {
    transform: none;
    transition: none;
    height: auto;
}

.container-fluid-base {
    transform: none !important;
}

.container-fluid-base {
    position: absolute;
    left: -201px;
    top: 50px;
    right: 0;
    bottom: 0;
    transition: left .3s;
    transform: translate3d(0, 0, 0);
    background: #fff;
}

/*
** aside menu 二级菜单样式
**
*/

.aside {
    position: relative;
    width: 180px;
    background-color: #f0f6f6;
    border-right: 1px solid #cedfea;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
}

.menu {
    position: relative;
    height: 100%;
}

.aside .menu h2 {
    font-size: 19px;
    font-weight: bold;
    line-height: 50px;
    display: block;
    padding: 0 20px;
    color: #2277da;
    height: 53px;
}

.aside .menu h2 > span {
    display: inline-block;
    vertical-align: middle;
}

.menu .line-mod {
    width: 142px;
    height: 0;
    margin: 0 auto 15px;
    border: none;
    border-top: 1px solid #cadbe6;
    border-bottom: 1px solid #f8fbfb;
}

.menu-list {
    font-size: 14px;
    line-height: 35px;
    overflow: auto;
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 0;
    padding-top: 15px;
}

.menu-list dd {
    position: relative;
    width: 100%;
}

.menu a.act {
    font-weight: 700;
    background-color: #d5e2ef;
}

.menu a.act, .menu a:active {
    color: #2277da;
    -webkit-font-smoothing: antialiased;
}

.menu-list a:hover {
    font-weight: 400;
    color: #2277da;
    background-color: #d5e2ef;
    text-decoration: none;
}

.menu a {
    color: #586376;
}

.menu a.act {
    font-weight: 700;
}

.menu a.act, .menu a:active {
    color: #2277da;
    -webkit-font-smoothing: antialiased;
}

.menu a {
    color: #586376;
}

.act {
    background-color: #f0f6f6;
}

.menu a span {
    display: inline-block;
    vertical-align: middle;
}

.menu-lv2 {
    line-height: 36px;
    display: block;
}

.menu-lv2 span {
    font-weight: 700;
    margin-left: 25px;
}

.menu-list dd.act ul.menu-sub, .menu-lv3 {

}

.menu-lv2.menu-lv2-toggle.open + .menu-sub {
    display: block;
}

.menu-lv2.menu-lv2-toggle + .menu-sub {
    display: none;
}

.menu-lv2.open {
    background-color: #bacde0;
}

.menu a.act .ico-dot {
    width: 7px;
    height: 7px;
    margin: 0 14px 0 28px;
}

.menu a.act .ico-dot {
    background: url(/static/img/top-menu.png);
    background-color: inherit;
    background-position: 0 -77px;
}

.menu-list .ico-dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 14px 0 29px;
    vertical-align: middle;
    border-radius: 5px;
    background: #b2becd;
}

.menu-lv2, .menu-lv3 {
    line-height: 36px;
    display: block;
}

.menu-lv2 .white-down-icon {
    position: absolute;
    right: 24px;
    top: 15px;
    overflow: hidden;
}

.white-down-icon {
    width: 11px;
    height: 6px;
    background-image: url(/static/img/bee.png);
    background-position: -125px -138px;
}

.btn-fold-menu {
    line-height: 100;
    position: absolute;
    top: 9px;
    right: -1px;
    overflow: hidden;
    width: 16px;
    height: 36px;
    border: 1px solid #c7e0ef;
    border-right: none;
    border-radius: 3px 0 0 3px;
    background: url(/static/img/top-menu.png) -72px -40px no-repeat #f7fdfd;
    z-index: 100;
}

.btn-fold-menu.retract {
    right: -17px;
    border: 1px solid #c7e0ef;
    border-left: none;
    border-radius: 0 3px 3px 0;
    background: url(/static/img/top-menu.png) -87px -40px no-repeat #f0f6f6;
}