.header-nav {
    padding: 0 0 0 199px;
    background-color: #373d41;
    min-width: 1000px;
}

.header-nav h1 {
    font-size: 14px;
    line-height: 36px;
    position: relative;
    float: left;
    height: 50px;
    margin-left: -200px;
    color: #f2f3f4;
}

.header-nav h1 .logo {
    text-decoration: none;
    position: absolute;
    top: 7px;
    color: #fff;
    left: 22px;
    overflow: hidden;
    width: 115px;
    font-size: 19px;
    height: 32px;
}

.header-panel {
    height: 50px;
    position: relative;
    z-index: 165;
}

.header-menu.panel-menu {
    float: left;
}

.header-menu {
    font-size: 14px;
}

.header-menu > li {
    position: relative;
    float: left;
    margin-right: -4px;
    transition: background-color .3s;
    background: url(/static/img/line.png) right center no-repeat;
}

.header-menu > li.cur,
.header-menu > li.cur:hover,
.header-menu > li:hover {
    cursor: pointer;
    background: #242c37;
}

.header-menu > li.cur:hover > a,
.header-menu > li.cur > a,
.header-menu > li:hover > a {
    color: #3d91ff;
    text-decoration: none;
    font-weight: bold;
}

.header-menu > li a {
    display: block;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
}

.header .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #242c37;
    border-color: #337ab7;
}

.header .nav > li > a:focus, .nav > li > a:hover {
    color: #57a5ff;
    text-decoration: none;
    background-color: #242c37;
}

.header .nav > li > a {
    color: #fff;
}

.header .navbar-nav > li {
    float: left;
}

.header .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
}

@media (max-width: 767px) {
    .header .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
        position: relative;
        left: 68px;
    }

    .navbar-nav .open .dropdown-menu {
        background-color: #fff;;
        border: 1px solid #ccc;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
}
